#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
}
#login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: #254b86;
  padding: 50px;
  gap: 20px;
}
#login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#login-submit {
  width: 75px;
}
