#firstnames {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
#name-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#user-buttons button {
    font-size: 12px;
}
#user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    overflow-wrap: anywhere;
    border: 1px solid black;
    gap: 10px;
}
#cards-texts {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
